<div class="gallery-page">
  <header>
    <div class="nav">
      <h1>Photos</h1>
    </div>
  </header>

  <div class="gallery">
    <% if @photos.size > 0 %>
      <div class="gallery-item add-button">
        <%= link_to new_photo_path do %>
          <h3>+Add New Photo</h3>
        <% end %>
      </div>
      <% @photos.each do | photo | %>
        <div class="gallery-item">
          <h3><%= photo.name %></h3>
          <%= link_to photo do %>
            <%= image_tag photo.image.url(:gallery) %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= link_to 'Upload first photo', new_photo_path, class: 'big-cta' %>
    <% end %>
  </div>
</div>

